<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.all.companies}"></title>
</head>
<body>


<a href="?lang=hy">Armenian</a> | <a href="?lang=ru">Russian</a> | <a href="?lang=en">English</a>
<br><br>
<a href="/addCompanies" th:text="#{companies.add}"></a>


<table border="1">

    <tr>
        <th>id</th>
        <th>name</th>
        <th>size</th>
        <th>address</th>
        <th th:text="#{company.delete}"></th>
        <th th:text="#{company.edit}"></th>

    </tr>

    <tr th:each="comp :${companies}">
        <td th:text="${comp.id}"></td>
        <td th:text="${comp.name}"></td>
        <td th:text="${comp.size}"></td>
        <td th:text="${comp.address}"></td>
        <td><a th:href="@{'/deleteCompany/' + ${comp.id}}" th:text="#{company.delete}"></a></td>
        <td><a th:href="@{'/editCompany/' + ${comp.id}}" th:text="#{company.edit}"></a></td>


    </tr>


</table>

</body>
</html>